In [8]:
#2.

import pandas as pd
import numpy as np
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)
s
dti

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [11]:
#3.

s[s.index.weekday == 2].sum()

29.343005875635132

In [13]:
#5.

s.groupby(pd.Grouper(freq = '4M')).idxmax()

2015-01-31   2015-01-20
2015-05-31   2015-03-23
2015-09-30   2015-06-29
2016-01-31   2015-11-23
dtype: datetime64[ns]

In [14]:
#4.

s.resample("M").mean()

2015-01-31    0.621702
2015-02-28    0.529021
2015-03-31    0.553950
2015-04-30    0.503920
2015-05-31    0.568762
2015-06-30    0.443878
2015-07-31    0.476499
2015-08-31    0.573363
2015-09-30    0.562768
2015-10-31    0.556251
2015-11-30    0.516629
2015-12-31    0.472931
Freq: M, dtype: float64

In [16]:
#1.

import pandas as pd
df['Y'] = df.groupby((df['X'] == 0).cumsum()).cumcount()
first_zero_idx = (df['X'] == 0).idxmax()
df['Y'].iloc[0:first_zero_idx] += 1

In [17]:
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2